@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --bg-color-main: #00032c;
  --primary-accent: #007bff;
}
.nav-container {
    background-color: var(--bg-color-main);
    color: white;
}

.nav-link {
  color: white;
}

.label-rent-slider {
  font-weight: 600;
}

.acc-type-house {
  background-color:#7baecc;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  content: "House";
}

.price-topic {
  font-weight: 500;
  color: rgb(59, 59, 59);
}

.span-title {
  font-weight: 700;
}

.acc-type-apartment {
  background-color:#ccb07b;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  content: "Apartment";  
}

.acc-type-bed {
  background-color:#cc927b;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  content: "Bunk Bed";  
}

.chat-message {
  border-color: #8fb1d1;
  border-radius: 5px;
  background-color: #f6fbff;
  height: 90px;
}

.btn-send {
  background-color: var(--bg-color-main);
  border-radius: 4px;
  color:#ffffff;
  border: none;
}

.dateinput {
  border: 1px solid #ccc;
  padding: 5px;
  border-width: 1px;
  border-radius: 4px;
}

.step-title {
  color: color-mix(var(--bg-color-main) ,transparent 25%);
}

.mate-name-comment {
  background-color: rgb(205, 255, 205);
  color: green;
  font-weight: 600;
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
}

.input-group-text {
  width: 100px;
  justify-content:center;
}

.dashboard-num-standalone {
  font-weight: 700;
  font-size:2.4em;
}

.dashboard-num-bar {
  font-weight: 700;
  font-size:2em;
}

.rang-occ {
  width: 8rem;
  margin-top: -28px;
}

.cb-dashboard {
  padding: 0 0 0 0;
  height: 72px;
}

.check-smedia {
  border:1px solid #ccc;
  border-radius: 5px;
}

.icongreen {
  color: green;
}

.icongrey {
  color: rgb(180, 180, 180);
}

.iconred {
  color: red;
}

.iconblue {
  color:#007bff;
}

.iconlightgreen {
  color: rgba(77, 185, 67, 0.7);
  text-decoration: none;
}

.hidden-select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.status-inprocess {
  background-color: #ffeb92;
  border-radius: 8px;
  padding: 2px 10px 2px 10px;
}

.status-unread {
  background-color: #ffba92;
  border-radius: 8px;
  padding: 2px 10px 2px 10px;
}

.status-closed {
  background-color: #def1e2;
  color: green;
  border-radius: 8px;
  padding: 2px 10px 2px 10px;
}

.sortable::after {
  padding-left: 3px;
  content: "\F127";
  font-family: "bootstrap-icons";
  font-weight: 100;
  font-size: smaller;
  color: #3a6279;
}

.wishlistspan::before {
  padding-right: 10px;
  content: "\F417";
  font-family: "bootstrap-icons";
  font-size:x-small;
  font-weight: 600;
}

.bg-lightgreen {
  background-color: rgb(221, 255, 221);
  color: #273831;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  font-weight: 600;
}

.msg-ct {
  margin-left: 5px;
  padding: 0px 5px 0px 5px;
  background-color: rgb(252, 56, 56);
  border-radius: 5px;
  color: #ececec;
  font-size: small;
}

.person {
  display: inline-flex;
  align-items: center;
}

.person::before {
  content: "\F4DA";
  font-family: "bootstrap-icons";
  font-size: large;
  margin-right: 5px;
}

.chat-guess {
  padding: 2px 10px 2px 10px;
  background-color: #ececec;
  border-radius: 8px;
}

.chat-agent {
  padding: 2px 15px 2px 15px;
  background-color: #f2fff1;
  border-radius: 8px;
}

.card-img-top {
  height: 190px;
}